@charset "UTF-8";
*
{
    margin: 0;
    padding: 0;
    --red: #C51212;
}
@font-face {
    font-family: 'Rubik';
    src: url(./fonts/Rubik-VariableFont_wght.ttf);
}
header
{
    padding: 15px;
}
p
{
    font-weight: 300;
}
main
{
    width: 800px;
    margin: auto;
}
.nav-link:hover
{
    color: var(--red);
    transition: transform 0.4s;
}
.container
{
    margin-top: 15px;
}

.background
{
    position: fixed;
    inset: 0;
    z-index: -1;
    width: 100%;
    height: 100vh;
}
body
{
    background-color: #161616;
}
.container
{
    margin-top: 2px;
}
.mensagemp
{
    background-color: #1d1d1d;
    border-radius: 5px;
    padding: 10px;
    color: white;
}
.MensagemBotao2
{
    margin-top: 20px;
    color: white;
    background-color: blue;
    border-radius: 2px;
    padding: 5px;
    text-align: center;
    width: 100px;
    border: none;
}
input
{
    border: 2px solid #4f4f4f;
    width: 390px;
    background-color: #161616;
    color: white;
    padding: 5px;
    border-radius: 2px;
    margin-top: 20px;
}
.maps1 {
    text-align: center; 
}

.maps1 iframe {
    margin-top: 110px; 
    margin-left: auto;
    margin-right: -600px;
}
select
{
    border: 2px solid #4f4f4f;
    width: 390px;
    background-color: #161616;
    color: white;
    padding: 5px;
    border-radius: 2px;
    margin-top: 20px;
}
.problema
{
    border: 2px solid #4f4f4f;
    width: 390px;
    background-color: #161616;
    color: white;
    padding: 5px;
    border-radius: 2px;
    margin-top: 20px;
}
h4
{
    background-color: #1d1d1d;
    font-weight: 100;
    color: white;
    margin-top: 0px;
    justify-content: center;
    padding: 20px;
    width: 800px;
    margin: auto;
}
.anamain
{
    color: beige;
    text-decoration: none;
}
.informação
{
    font-family: 'Rubik';
    background-color: #1d1d1d;
    font-weight: 100;
    color: white;
    margin-top: 0px;
    justify-content: center;
    padding: 20px;
    width: 800px;
    margin: auto;
}
.app {

    display: flex;
}
.nav-link {
    text-decoration: none;
    font: 400 inherit;
    color: aliceblue;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 2px;
    text-transform: uppercase;
    position: relative;
/* opacity: 50%; */
}
header {
    max-width: 1440px;
}
header img {
    width: 70px;
    height: auto;

}
.nav-item {
    list-style-type: none;
    column-gap: 70px;
    padding: 10px;
    column-gap: 64px;
}
.nav_navegation {
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    column-gap: 70px;
    padding: 13px;
    position: absolute;
    margin-top: -20px;
}
.nav-link:hover:active {
    color:var(--red);
}
.nav-link::after
{
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;

    width: 60%;
    height: 1px;
    background: var(--red);
    transform: scaleX(0);
    transform-origin: right;
}
.nav-link:hover::after
{
    transition: transform 0.4s;
    transform: scaleY(1);
    transform-origin: left;
}
.Unity
{
    color: white;
}
ul
{
    margin-left: 20px;
}
li
{
    font-size: medium;
    margin-bottom: 5px;
}